*{
    margin: 0;
}

@keyframes fromLeftToRight {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(2500px);
    }        
}

.navbar {
    background-color: beige;
    display: flex;
    justify-content: space-between;
}

#navbarlogo{
    width: 3rem;
    height: 3rem;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
}

#navbarlogo:hover{
    cursor: pointer;
}

button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    transition: transform 2.5s;
}

.initial-hidden {
    transform: translateX(-1500%);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.half-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    background-image: url(/AddEvent/FrontEnd/img/Event1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    transition: width 2s; /* Utilisez une transition pour la largeur */
}

.left:hover {
    width: 110%; /* Lors du survol, augmentez la largeur */
}

.right {
    background-image: url(/AddEvent/FrontEnd/img/Event2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    transition: width 2s; /* Utilisez une transition pour la largeur */
}

.right:hover {
    width: 110%; /* Lors du survol, augmentez la largeur */
}

h1 {
    font-size: 30px;
}
