*{
    margin: 0;
}

@keyframes fromLeftToRight {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(2500px);
    }        
}

.mylogo-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2; /* Ensure the logo is above other content */
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #441A28;
    display: flex;
    justify-content: center;
    transition: transform 2.5s;
    z-index: 1; /* Ensure the navbar is behind other content initially */
}

.navbar-container.visible {
    transform: translateX(0);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

#navbarlogo {
    width: 3rem;
    height: 3rem;
    padding: 0.2rem;
    cursor: pointer;
}

#navbarlogo:hover{
    cursor: pointer;
}

button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

.initial-hidden {
    transform: translateY(-100%);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.half-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    background-image: url(/AddEvent/FrontEnd/img/Event1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    transition: width 2s; /* Utilisez une transition pour la largeur */
}

.left:hover {
    width: 110%; /* Lors du survol, augmentez la largeur */
}

.right {
    background-image: url(/AddEvent/FrontEnd/img/Event2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    transition: width 2s; /* Utilisez une transition pour la largeur */
}

.right:hover {
    width: 110%; /* Lors du survol, augmentez la largeur */
}

h1 {
    font-size: 30px;
}
