*{
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-color: blue;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-bottom: 90px;
    color: rgba(240, 240, 240, 0.99);
}

.container{
    width: 35%;
    height: 66%;
    background-color: white;
    border-radius: 7px;
    margin-top: 5px;
    margin-left: 20px;
    background: rgb(18, 11, 151);
    background-color: rgba(0, 0, 0, 0.5);
}

.event-box{
    font-size: 15px;
    padding-left: 7px; 
    display: flex;
    flex-direction: column;
}

.theSelector{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    color: rgba(240, 240, 240, 0.99);
}

.theSelector label{
    font-weight: bold;
    font-size: 16px;
}

.title{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    color: rgba(240, 240, 240, 0.99);
}

#text{
    margin-right: 2px;
}

.place{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    color: rgba(240, 240, 240, 0.99);
}

.date-time{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    color: rgba(240, 240, 240, 0.99);
}

#dt{
    margin-right: 28px;
    width: 40%;
}

.my-ipt{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.description-of-event{
    display: flex;
    justify-content: space-around;
    margin-right: 1.5rem;
    padding-top: 40px;
    color: rgba(240, 240, 240, 0.99);
}

.image-of-event{
    display: flex;
    margin-right: 1.5rem;
    padding-top: 40px;
    color: rgba(240, 240, 240, 0.99);
}

.imageInput{
    display: flex;
    flex-direction: column;
}

.inclusive-iptt{
    display: flex;
    justify-content: space-around;
    margin-right: 1rem;
    padding-top: 40px;
    color: rgba(240, 240, 240, 0.99);
}

.hide{
    transform: scale(0);
    opacity: 0;
    display: none;
}