*{
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    background: rgb(18, 11, 151);
    background: linear-gradient(90deg, rgba(129, 42, 10, 0.873) 0%, rgba(121, 42, 9, 0.851) 35%, rgb(255, 60, 0) 100%);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.event{
    width: 100%; /* Ajustez la largeur selon vos besoins */
    overflow-x: auto;
    display: flex;
    gap: 30px;
    flex-wrap: nowrap; /* Les événements ne vont pas à la ligne */
    justify-content: flex-start;
    padding: 10px;
}

.container{
    height: 3rem;
    width: 10rem;
    background-color: blue;
    transition: 1s ease-out;
}

h1{
    margin-bottom: 90px;
    color: rgba(240, 240, 240, 0.99);
}

.event-title{
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 1s;
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}

#text{
    margin-right: 2px;
}



#dt{
    margin-right: 28px;
    width: 40%;
}

.my-ipt{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

button{
    background-color: rgb(69, 177, 230);
    height: 22px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

.input{
    width: 35%;
}

.hide{
    transform: scale(0);
    opacity: 0;
    display: none;
}

.hideForReal{
    scale: 0;
}

@keyframes visible{
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.visible{
    animation: visible 1s forwards;
}

.titleValue, .locValue, .dateValue, .timeValue, .descriptionValue, .inclusivityValue, .categorieValue{
    margin-left: 0; /* Espace entre ":" et la valeur */
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

.titleValueInput , .locValueInput, .dateValueInput, .timeValueInput, .descriptionValueInput, .inclusivityValueInput{
    width: auto; /* Par défaut, les champs d'entrée ont une largeur automatique */
}

.imageOfEvent{
    height: 60px;
    width: 30%;
    object-fit: cover;
}

.place, .date, .time, .descriptionnn, .pic, .inclusivee, .category, .eventSuppr, .modify-btn, .the-btn{
    scale: 0;
    opacity: 0;
}